{% extends "base.html" %}

{% block content %}
    <h1>Archive:</h1>
    {% if result %}
        <table>
            <tr>
                <th>Staff name:</th>
                <th>Category name:</th>
                <th>Animal name:</th>
                <th>Responsibility start:</th>
                <th>Responsibility end:</th>
            </tr>
            {% for r in result %}
            <tr>
                <td>{{ r.staff.first_name + ' ' + r.staff.second_name }}</td>
                <td>{{ r.category.category_name }}</td>
                <td>{{ r.animal.animal_name }}</td>
                <td>{{ r.start }}</td>
                <td>{{ r.end }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.animal.label}}<br>
            {{ form.animal(class_="js-example-basic-single", style = "width : 100px") }}
            {% for error in form.animal.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start.label }} (Y-m-d H:M:S)<br>
            {{ form.start(size=32) }}
            {% for error in form.start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end.label }} (Y-m-d H:M:S)<br>
            {{ form.end(size=32) }}
            {% for error in form.end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}