<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
            });
        </script>
        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });
        </script>
        <script>
            function update_staff_categories(staffId, formId) {
                c = $(formId).val()
                $.post('/update_staff_categories', {
                    staff_id : staffId,
                    categories : c
                }).done(function(response) {
                }).fail(function() {
                    alert("error");
                });
            }
        </script>
        <script>
            function update_responsible_staff(animalId, formId) {
                s = $(formId).val()
                $.post('/update_responsible_staff', {
                    animal_id : animalId,
                    staff : s
                }).done(function(response) {
                }).fail(function() {
                    alert("error");
                });
            }
        </script>
        <script>
            function update_type_responsible_staff(typeId, formId) {
                s = $(formId).val()
                $.post('/update_type_responsible_staff', {
                    type_id : typeId,
                    staff : s
                }).done(function(response) {
                }).fail(function() {
                    alert("error");
                });
            }
        </script>
        <script>
            function delete_category(category_id) {
                $.post('/delete_category', {
                    id : category_id
                }).done(function(response) {
                }).fail(function() {
                    alert("error");
                });
            }
        </script>
        {% if title %}
        <title>{{ title }} - WebZoo</title>
        {% else %}
        <title>Welcome to WebZoo</title>
        {% endif %}
    </head>
    <body>
        <div>
            WebZoo: <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% if not current_user.is_anonymous %}
        <div>
            {% if current_user.urole == 'admin' %}
            <a href="{{ url_for('new_staff') }}">New Staff</a>
            {% endif %}
            <a href="{{ url_for('show_staff') }}">Show Staff</a>
            <a href="{{ url_for('categories') }}">Categories</a>
            {% if current_user.urole == 'admin' %}
            <a href="{{ url_for('new_animal') }}">New Animal</a>
            {% endif %}
            <a href="{{ url_for('show_animals') }}">Show Animals</a>
            <a href="{{ url_for('animal_types') }}">Animal Types</a>
        </div>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>