{% extends "base.html" %}

{% block content %}
    <h1>Show staff:</h1>
    {% if staff %}
        <table>
            <tr>
                <th>
                    First name:
                </th>
                <th>
                    Second name:
                </th>
                <th>
                    Gender:
                </th>
                <th>
                    Age:
                </th>
                <th>
                    Salary:
                </th>
            </tr>
            {% for s in staff %}
            <tr>
                <td>
                    {{ s.first_name }}
                </td>
                <td>
                    {{ s.second_name }}
                </td>
                <td>
                    {{ s.gender }}
                </td>
                <td>
                    {{ s.age }}
                </td>
                <td>
                    {{ s.salary }}
                </td>
                <td>
                    <select style="width:500px" class="js-example-basic-multiple categories-drop-down" name="states[]" multiple="multiple">
                        <option value="AL">Alabama</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.gender.label}}<br>
            {{ form.gender(size=3) }}
            {% for error in form.gender.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
            {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.salary.label }}<br>
            {{ form.salary(size=32) }}
            {% for error in form.salary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.employment_date.label }}<br>
            {{ form.employment_date(size=32) }}
            {% for error in form.employment_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}