{% extends "base.html" %}

{% block content %}
    <h1>Show Animals:</h1>
    <a href="{{ url_for('show_animals_archive') }}">Responsibility archives</a>
    {% if animals %}
        <table>
            <tr>
                <th>Animal name</th>
                <th>Animal type</th>
                <th>Responsible staff</th>
            </tr>
            {% for a in animals %}
            <tr>
                <td> {{ a.animal_name }} </td>
                <td> {{ a.type.type_name }} </td>
                {% if current_user.urole == 'admin' %}
                <td>
                    <form action="" method="post">
                    {{ choose_forms[a.animal_id].hidden_tag() }}
                        <p>
                            {{ choose_forms[a.animal_id].responsible_staff(size=3, style="width:200px",
                                class_="js-example-basic-multiple") }}
                            {% for error in choose_forms[a.animal_id].responsible_staff.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <button type="button" onclick="update_responsible_staff({{a.animal_id}},
                             '#{{a.animal_id}}-responsible_staff')">
                                Submit responsible staff
                            </button>
                        </p>
                    </form>
                </td>
                <td><a href="/medical_card/{{a.animal_id}}">Medical card</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.types.label }}<br>
            {{ form.types(style="width:200px",
                                class_="js-example-basic-multiple") }}
            {% for error in form.types.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gender.label}}<br>
            {{ form.gender(class_="js-example-basic-single", style = "width : 100px") }}
            {% for error in form.gender.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
            {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.height.label }}<br>
            {{ form.height(size=32) }}
            {% for error in form.height.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=32) }}
            {% for error in form.weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}